/* purgecss start ignore */
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&display=swap');
@tailwind base;
@tailwind components;
/* purgecss end ignore */

@tailwind utilities;

body {
  @apply bg-gray;
}
